body {
    min-height:100vh;
    background-color: black;
    color: white;
}


#carouselExampleIndicators {
    height: 700px; /* укажите желаемую высоту */
}

#carouselExampleIndicators .carousel-inner,
#carouselExampleIndicators .carousel-item {
    height: 100%;
}

#carouselExampleIndicators .carousel-item img {
    object-fit: contain; /* адаптирует изображение, чтобы оно заполнило карусель */
    height: 100%;
    width: 100%;
}

.carousel-radio {
    width: 15px !important;
    height: 15px !important;
    background-color: black !important;
}
.control-btn-slider-left {
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 34%, rgba(0,0,0,0) 100%);
}
.control-btn-slider-right {
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 34%, rgba(20,20,20,0) 100%);
}


.game-title {
    font-weight: 800;
    font-size: 64px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 7%;
}
.game-page-info, .comments {
    padding: 5% 16%;
    letter-spacing: 0.1em;
}
.info-and-description {
    min-height: fit-content;
    width: 100%;
    display: flex;
    font-size: 18px;
    font-weight: 300;
}
.info-and-description .description {
    width: 80%;
}
.info-and-description h4{
    font-weight: 300;
}
.game-logo {
    font-size: 64px;
    font-weight: 800;
}
.game-logo p {
    text-align: right;
}
.game-logo img {
    margin-bottom: 7.5%;
}





.download-buttons{
    margin-top: 5%;
}
.download-buttons h4{
    font-weight: 300;
}
.buttons {
    margin-top: 3%;
    display: flex;
}
.OS-buttons:nth-child(n+1):not(:last-child) {
    margin-right: 1%;
}
.OS-buttons {
    background-color: #C2FF3F;
    padding: 1.2% 5%;
    border-radius: 20px;
}



.comments {
    display: flex;
    flex-direction: column;
}
.comment-input {
    width: 100%;
}
.comment-input label {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 300;
    width: 100%;
}
.comment-input input {
    margin-top: 4%;
    padding: 2%;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: #858585;
    color: white;
    font-size: 24px;
}
.comment-input input:hover{
    cursor: pointer;
}

.comment-input input::placeholder {
    color: #A8A8A8;
    font-size: 24px;
}

.comments-list {
    margin-top: 7%;
    display: flex;
    flex-direction: column;

}
.comment-item:nth-child(n+1):not(:last-child){
    margin-bottom: 3%;
}
.comment-item {
    background-color: #555555;
    padding: 2.5%;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 300;
}
.comment-header {
    display: flex;
    align-items: center; /* Вертикальное выравнивание */
    justify-content: flex-start; /* Расположение элементов слева направо */
    gap: 10px; /* Отступ между аватаром и текстом */
    margin-bottom: 2%;
    width: auto; /* Уберите жесткую ширину */
}

.comment-header .avatar-wrapper {
    flex-shrink: 0; /* Запретить сжатие аватара */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    border-radius: 50%;
    width: 76px;
    height: 76px;
}

.comment-header span {
    overflow: hidden; /* Обрезать текст при переполнении */
    white-space: nowrap; /* Запретить перенос текста */
    text-overflow: ellipsis; /* Добавить многоточие при обрезке */
    max-width: 150px; /* Ограничить максимальную ширину текста */
    display: inline-block;
}