
.headerStyle {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.25rem;
    text-decoration: none;
}

header {
    background-color: rgb(15, 13, 13);
}

.logo {
    margin-bottom: 5px;
    width: 45px;
    height: 50px;
}
.logo-text {
    position:absolute;
    margin-inline-start: 10px;
    color: white;
    font-family: 'Lucida Console';
    font-weight: bold;
    font-size: 35px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    flex-grow: 1;
    height: 100%;

}

.menu {
    padding: 3%;
    height: 100%;
    background: rgb(25, 23, 23);
}

.text_menu {
    color: white;

}
.text_menu_head {
    color: white;
    font-size: 24px;
    margin-bottom: 9px;
    font-weight: 700;
}

.arrow-image {
    width: 80px;
    height: 80px;
}
.arrow-button:hover {
    background-color: rgba(0,0,0,0.2);
    border-radius: 30px;
}
.adds-back {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(64, 0, 137);
    padding: 2% 0;
}
.adds-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.adds-block-back {
    width: 90%;
    background-color: rgb(25, 23, 23);
    padding: 2%;
    height: 50%;

}
.adds {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 150px 1fr;
}
.left-column-add {
    grid-row: 1 / span 2;
}
.right-top-row-add {

}
.right-bottom-row-add {
    padding: 1% 2%;
    color: white;
    position: relative;
}
.game-description-add {
    color: white;
    font-family: 'Lucida Console';
    font-size: 17px;
    width: 100%;
}
.game-add-price {
    position: absolute;
    bottom: 1%;
    right: 9%;
    color: RGB( 194, 255, 63);
    font-family: "Luminari", fantasy;
    font-size: 30px;
}
.images {
    display: flex;
}

.game-screenshots{
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 100%;

}
.game-screen {
    width: 30%;
    height: 100%;
}
.game-screen:not(:last-child){
    margin-right: 1%;
}

.add-description{
    background-color: red;
}


.games-list{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    padding: 0 2%
}
.games-list-title {
    color: RGB( 194, 255, 63);
    font-family: "Luminari", fantasy;
    font-size: 30px;
}
.games-list-items{
    display: flex;
    padding: 2% 0;
}
.game-list-item-card:not(:last-child){
    margin-right: 2%;
}
.game-item {
    color: white;
    margin-top: 10px;
    font-size: 17px;
    font-family: 'Comic Sans MS';
}
.game-list-item-name-and-price{
    display: flex;
    justify-content: space-between;
}
.game-list-item-name-and-price span:last-child{
    color: #c300ff;
}



html,
body {
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.main {
    flex-grow: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 13, 13);
    width: 100%;
    height: 170px;
}

.footer_link {
    margin-top: 5px;
    color: RGB( 194, 255, 63);
    line-height: 0.9em;
    margin-left: 20px;
}

.footer_link_right {
    margin-top: 5px;
    line-height: 1.5em;
    color: RGB( 189, 0, 255);
    text-align: right;
    margin-right: 20px;
}
.footer_icon{
    margin-right: 8px;
}
.footer_icon_logo {
    margin-bottom: 15px;
}


.user-image {
    width: 45px;
    height: 45px;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.drop-button {
    display: flex;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-color: black;
    border: solid;
    border-color: gray;
    border-radius: 10px;
}

.dropdown-content {
    color: white;
    font-family: Impact;
    font-size: 30px;
    display: none;
    position: absolute;
    margin-left: -100px;
    background-color: none;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .dropdown-content a:hover { 
        color: RGB( 194, 255, 63);
    }

    .dropdown-content a:hover {
        color: RGB( 194, 255, 63);
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    border:groove;
}

